stamp-*
debian/idle2
debian/.debhelper
debian/*.debhelper.log
debian/*.substvars

debian/libpython-all-dbg
debian/libpython-all-dev
debian/libpython-dbg
debian/libpython-dev
debian/libpython-stdlib
debian/python
debian/python-all
debian/python-all-dbg
debian/python-all-dev
debian/python-dbg
debian/python-dev
debian/python-doc
debian/python-examples
debian/python-minimal

debian/libpython2-dbg
debian/libpython2-dev
debian/libpython2-stdlib
debian/python2-dbg
debian/python2-dev
debian/python2-doc
debian/python2-minimal
debian/python2

debian/files
debian/python-minimal.postinst
debian/python2-minimal.postinst
debian/python.postinst
debian/python.postrm
debian/python.preinst
debian/python.prerm
debian/python-policy.html
debian/python-policy.txt
